* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4e98c6;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  width: 320px;
}

.login-form h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333333;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4389C1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1A6CA4;
}

.login-alerts {
  color: red;
  font-weight: bold;
}

.login-alerts-cool{
  color: #3B64B1;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-button {
  width: calc(50% - 5px);
  padding: 12px;
  background-color: #4389C1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button {
  width: calc(50% - 5px);
  padding: 12px;
  background-color: #1A6CA4;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #0E4B73;
}
