<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <meta charset="UTF-8">
  <title>error</title>
  <link rel="stylesheet" th:href="@{/assets/css/styles.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/header.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/footer.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/error.css}" />

</head>

<body>
<div th:replace="~{header :: header}"></div>

<div class="container">
  <h1>Looks like you've lost! </h1>
  <div class="error-message">
    <p th:text="${'Error Message - ' + errorMessage}">{{errorMessage}}</p>
  </div>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>

</html>