<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
  <link rel="stylesheet" th:href="@{/assets/css/footer.css}" />
</head>

<body>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2023 CampusQ. All rights reserved. Developed inside RGUKT Srikakulam.</p>
    <p><a href="mailto:kushalvardhan3@gmail.com">Email us!</a></p>
    <nav>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Contact Us</a>
    </nav>
  </div>
</footer>

</body>
</html>